body{
    font-family: Oswald, sans-serif;
}

.navbar{
    border: 0px;
    min-height: 0px;
}

.nav-tabs{
    border: 0px;
}

.navi{
    margin-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.chunk{
    padding-right: 0px;
}

.result{
    line-height: 1.5;
    margin-top: 10px;
}

#blue{
    background: #d9edf7;
}

#green{
    background: #dff0d8;
}

#red{
    background: #f2dede;
}

#reverse{
    background: #337ab7;
    color: white;
}