<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
</head>
<body>
<% for (i = 0; i < sayings.length; i++){%>
    <p>Hi, my name is <%= sayings[i].name %>. <%= sayings[i].message %></p>
<%}%>
</body>
</html>