<% include partials/header.ejs %>


<div class="main">
    <div class="col-xs-8 piece">
        <h2>In The Mood To Catch A Flick? See What Movies Are Playing Now!</h2>
        <form id="movieChoice" action="/searchresults" method="get">
            <button type="submit" class="btn btn-warning" id="submitter">Show Me A List Of Movies</button>
        </form>
    </div>
</div> <!--class="col-xs-7 col-xs-offset-2"-->


<% include partials/footer.ejs %>