<footer>
    <div class="row">
        <nav class="navbar navbar-default" role="navigation">
            <ol class="breadcrumb">
                <li><a href="index" class="footLink">Home</a></li>
                <li><a href="about" class="footLink">About</a></li>
                <li><a href="contact" class="footLink">Contact</a></li>
            </ol>
        </nav>
    </div> <!-- class="row"-->
</footer>


<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<!-- Minified JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<script src="bootstrap.min.js"></script>
</body>
</html>