<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags must come first in the head; other head content must come after these tags -->

    <!--<link rel="stylesheet" href="bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Optional Theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <!-- insert the script to reference jQuery here -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <!-- my javascript file to run onload events -->
    <!--<script src="/javascripts/MyJS.js"></script>-->

    <!--CDN to google fonts-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald">

    <!-- link to the font-awesome catalog -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- my separate and local css stylesheet-->
    <link rel="stylesheet" href="/stylesheets/styles.css">

    <!-- Optional IE8 Support -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>The Movie Project</title>
</head>

<body class="container-fluid">

<header>
    <div class="row">
        <nav class="navbar navbar-default top" role="navigation">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="form-group form-inline collapse navbar-collapse navi" id="collapse">
                <ul class="nav nav-tabs">
                    <li class="disabled"><a href="#">The Movie Project</a></li>
                    <li class="disabled"><a href="home">Home</a></li>
                </ul>
            </div> <!--class="form-group form-inline navbar-right collapse navbar-collapse" id="collapse"-->
        </nav>
    </div>
</header>